#tittel_boks {
    text-align: center; 
  background: rgba(255, 255, 255, 0.9); 
  color: #0022ff;                    
  display: inline-block;
  padding: 20px 40px;
  border-radius: 10px;
  margin-top: 10px;
}
#undertittel_boks {
    text-align: center;
  background: rgba(255, 255, 255, 0.9); 
  color: #000000;                    
  display: inline-block;
  padding: 20px 40px;
  border-radius: 10px;
  margin-top: 10px;
}
header{text-align: center;}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 8rem;
    display: flex;
    overflow: hidden;
    background-color: #000000;
}
ul li a {
  display: block;
  color: rgb(255, 255, 255);
  padding: 14px 16px;
  text-decoration: none;
}
.container {
  display: grid;
  column-gap: 150px;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 30px;
}
.container > div {
  background-color: #f1f1f1;
  border: 2px solid black;
  padding: 10px;
  font-size: 20px;
  text-align: center;
}